.modale {
  animation: var(--fade-in-animation);
  position: absolute;
  inset: 0px;
  transition: var(--fast-transition) var(--default-animation);
  z-index: 1;
  /* display: flex; */
  /* display: flex;
  justify-content: center;
  align-items: center; */
}

.modale.darker {
  background-color: var(--primary-color-high-transparency);
}
