.patternsList {
  height: 100%;
  overflow: hidden;
  transition: var(--fast-transition) var(--default-animation);

  &.open {
    transform: translateX(0%);
    opacity: 1;
  }
}

.controls {
  position: absolute;
  left: 100%;
  color: var(--primary-color);
  display: flex;
  flex-direction: column;
  align-items: center;
  font-size: 1.5rem;
  gap: var(--standard-padding);
  overflow: auto;
}

.controls > label {
  align-items: center;
}

.scroller {
  height: 100%;
  display: flex;
  position: relative;
  overflow-y: auto;
  scrollbar-color: var(--primary-color) transparent;
  scrollbar-gutter: stable;
  scroll-snap-type: y mandatory;
  scroll-snap-stop: always;

  &.inactive {
    overflow-y: hidden;
  }

  & > div:first-of-type {
    transition: opacity var(--average-transition) var(--default-animation);
  }
}

.display {
  position: sticky;
  top: 0px;
  height: 100%;
  width: 100%;
  min-width: 5rem;
  display: flex;
  flex-direction: column;
  color: var(--secondary-color);
}

.display > div {
  display: flex;
  flex-direction: column;
  gap: 1rem;
  height: 100%;
  width: 100%;
  min-width: 5rem;
  transition: opacity var(--fast-transition) var(--default-animation),
    visibility var(--fast-transition) var(--default-animation);

  position: relative;

  & > div {
    position: relative;
  }

  &.inactive {
    visibility: hidden;
    opacity: 0;
  }

  &.active {
    visibility: visible;
    opacity: 1;
  }
}

.display > div:first-of-type {
  overflow-y: hidden;
  padding: 1rem var(--standard-padding) 0 var(--standard-padding);
}

.display > div:not(:first-of-type) {
  position: absolute;
  top: 0px;
}

.display > div:nth-child(2) > div.active::after {
  content: "";
  display: block;
  z-index: -1;
  position: absolute;
  animation: var(--fade-in-animation);
  inset: 0;
  background-color: var(--primary-color);
}

.display > div:last-of-type > div:first-of-type {
  position: absolute;
  width: 100%;
  cursor: grabbing;
}

.ghost {
  width: 1px;
  height: 100%;
  z-index: -1;
}

.ghost > div {
  height: 100%;
  scroll-snap-align: start;
}
