.editorBox {
  text-align: left;
  display: flex;
  flex-wrap: wrap;
  width: 100%;
  padding: 0 var(--standard-padding);
}

.editorBox > div:first-child {
  display: flex;
  justify-content: space-between;
  background-color: var(--primary-color-medium-transparency);
  font-weight: bold;
  padding: 0.25rem var(--standard-padding);
  font-size: 1.25rem;
  gap: 1.5rem;
  width: 100%;

  & > div {
    display: flex;
    align-items: center;
    overflow: hidden;
    gap: var(--standard-padding);
    font-size: 1rem;
  }
}

.editorBox > div:last-of-type {
  position: relative;
  width: 100%;
  min-height: 8rem;
  font-size: 1rem;
  overflow-y: visible;
  background-color: var(--primary-color);
  border-inline: var(--default-border);
  border-block-end: var(--default-border);
}

.editorBox > div:last-of-type > div {
  position: absolute;
  font-size: inherit;
  overflow: hidden;
  user-select: none;
  z-index: 1;
}

.editorBox > div:last-of-type > textarea {
  font-family: inherit;
  font-size: inherit;
  overflow-y: visible;
  min-width: calc(100% - 2rem);
  resize: horizontal;
  min-height: 100%;
  text-indent: calc(13ch - 2rem);
  line-height: 1rem;
  padding-left: 2rem;
  color: var(--secondary-color);
  caret-color: var(--secondary-color);
  field-sizing: content;
  scrollbar-gutter: stable;
  background: none;
}
