.utilityButtons {
  position: absolute;
  bottom: 2.5rem;
  right: 2.5rem;
  font-size: 2rem;
  display: flex;
  justify-content: flex-end;
  align-items: center;
  gap: 1rem;
  color: var(--secondary-color);
  z-index: 2;
}

.utilityButtons > button:first-of-type {
  transform: rotate(45deg);
  transition: var(--fast-transition) var(--default-animation);
}

.utilityButtons.open > button:first-of-type {
  transform: rotate(0deg);
}

.infoText {
  font-size: 1.25rem;
  align-content: center;
  padding: 0.25rem;
  background-color: var(--primary-color);
  height: fit-content;
}

.utilityButtons > div {
  transition: var(--fast-transition) var(--default-animation);
}

.utilityButtons > div:not(.infoText) {
  max-width: 0%;
  overflow: hidden;
  position: relative;
}

.utilityButtons.open > div:not(.infoText) {
  max-width: 100%;
}

.buttonsContainer {
  display: flex;
  gap: 1rem;
  border: 1px solid var(--primary-color);
  padding: 0.5rem;
}

.utilityButtons button {
  filter: var(--icon-shadow);
}

@media (max-width: 1023px) {
  .utilityButtons {
    top: 0;
    bottom: unset;
    padding: 1rem;
  }
}
