.confirmationBox {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  padding: 1rem;
  background-color: var(--primary-color-medium-transparency);
  z-index: 1;
  /* display: flex;
  flex-direction: column; */
  color: var(--secondary-color);
  transition: var(--fast-transition) var(--default-animation);

  /* & > .confirmationBox {
    opacity: 0;
    visibility: hidden;
  }

  &[open] > .confirmationBox {
    opacity: 1;
    visibility: visible;
  } */
}

.confirmationBox > div:last-of-type {
  margin-top: 1rem;
  display: flex;
  gap: 1rem;
}

.confirmationBox > div:last-of-type > button {
  flex: 1;
  border: var(--default-border);
  padding: var(--standard-padding);
  background-color: var(--secondary-color-high-transparency);
  transition: var(--fast-transition) var(--default-animation);
}

.confirmationBox > div:last-of-type > button:hover {
  background-color: transparent;
}

/* div:has(> .demoBox) {
  padding: 1rem;
  max-width: 25%;
  max-width: 100%;
  width: fit-content;

  transition: var(--fast-transition) var(--default-animation);
} */

.demoBox {
  color: var(--secondary-color);
  overflow: visible;
  top: 0;
  left: 0;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  max-width: 100%;
  background-color: var(--primary-color-light-transparency);
  border: var(--default-border);
  padding: 0.75rem;
}

.demoBox > button:first-of-type {
  position: absolute;
  bottom: 100%;
  left: 100%;
  padding: 0.25rem;
  color: var(--secondary-color);

  & svg {
    filter: var(--icon-shadow);
  }
}

.demoBox > p {
  min-height: 1rem;
}

.demoBox > div:not(.confirmationBox) {
  margin-top: 1rem;
  display: flex;
  justify-content: flex-end;
}

.demoBox > div:not(.confirmationBox) > button {
  margin-left: 1rem;
  display: inline-flex;
  gap: var(--standard-padding);
  align-items: center;
  transition: var(--fast-transition) var(--default-animation);
}

.demoBox > div:not(.confirmationBox) > button svg {
  font-size: 0.75rem;
}

@media (max-width: 1023px) {
  .toogleButton {
    top: 0;
    bottom: unset;
    padding: 1rem;
  }
}
