:root {
  --header-height: 6rem;
  --sidebar-width: 4rem;

  --fast-transition: 250ms;
  --average-transition: 500ms;
  --default-animation: ease-in-out;
  --fade-in-animation: fade-in var(--fast-transition);

  --gap-between-inputs: 0.75rem;
  --standard-padding: 0.5rem;

  --primary-color: #262626;
  --primary-color-light-transparency: #262626bf;
  --primary-color-medium-transparency: #2626267f;
  --primary-color-high-transparency: #2626263f;
  --secondary-color: #eaeae5;
  --secondary-color-light-transparency: #eaeae5bf;
  --secondary-color-medium-transparency: #eaeae57f;
  --secondary-color-high-transparency: #eaeae53f;
  --yellow: #e0dc4f;

  --default-border: 1px solid var(--secondary-color-medium-transparency);
  --transparent-border: 1px solid transparent;
  --icon-shadow: drop-shadow(-1px 0px 1px var(--primary-color))
    drop-shadow(0px -1px 1px var(--primary-color))
    drop-shadow(1px 0px 1px var(--primary-color))
    drop-shadow(0px 1px 1px var(--primary-color));

  --styling-panel-x-margins: 1.5rem;
}

/* ------------------------------------------------------------------------------- */
/* ------------------------------------------------------------------------------- */
/* -------------------------------------RESET------------------------------------- */
/* ------------------------------------------------------------------------------- */
/* ------------------------------------------------------------------------------- */
/* http://meyerweb.com/eric/tools/css/reset/
v2.0 | 20110126
License: none (public domain)
*/
html,
body,
div,
span,
applet,
object,
iframe,
h1,
h2,
h3,
h4,
h5,
h6,
p,
blockquote,
pre,
a,
abbr,
acronym,
address,
big,
cite,
code,
dfn,
img,
ins,
kbd,
q,
s,
samp,
small,
strike,
sub,
sup,
tt,
var,
b,
i,
center,
dl,
dt,
dd,
ol,
ul,
li,
fieldset,
form,
label,
legend,
table,
caption,
tbody,
tfoot,
thead,
tr,
th,
td,
article,
aside,
canvas,
details,
embed,
figure,
figcaption,
footer,
header,
hgroup,
menu,
nav,
output,
ruby,
section,
summary,
time,
mark,
audio,
video,
dialog,
button {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
  border: 0;
  font-size: 100%;
  font: inherit;
  vertical-align: baseline;
  color: inherit;
  text-decoration: inherit;
  background: none;
}
strong,
u,
em,
del {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
  border: 0;
  font-size: 100%;
  vertical-align: baseline;
  color: inherit;
  background: none;
}
/* HTML5 display-role reset for older browsers */
article,
aside,
details,
figcaption,
figure,
footer,
header,
hgroup,
menu,
nav,
section {
  display: block;
}
body {
  line-height: 1;
}
blockquote,
q {
  quotes: none;
}
blockquote:before,
blockquote:after,
q:before,
q:after {
  content: "";
  content: none;
}
table {
  border-collapse: collapse;
  border-spacing: 0;
}
input,
textarea {
  outline: none;
  border: none;
  padding: 0;
}

/* ------------------------------------------------------------------------------- */
/* ------------------------------------------------------------------------------- */
/* ------------------------------------GLOBALS------------------------------------ */
/* ------------------------------------------------------------------------------- */
/* ------------------------------------------------------------------------------- */

html,
body,
main {
  height: 100%;
}

button:not(.grabbable) {
  cursor: pointer;
}

button:disabled {
  cursor: not-allowed;
  color: var(--secondary-color-medium-transparency);
}

h1 {
  font-size: 1.5rem;
  color: var(--secondary-color);
  text-shadow: -1px 0px 3px var(--primary-color),
    0px -1px 3px var(--primary-color), 1px 0px 3px var(--primary-color),
    0px 1px 3px var(--primary-color);
}

h2 {
  font-size: 1.25rem;
}

header {
  position: absolute;
  z-index: 10;
  top: 0px;
  left: var(--sidebar-width);
  /* width: 100%; */
  /* padding-left: ; */
  height: var(--header-height);
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 0 1.5rem;
}

input,
.input-mock {
  color: inherit;
  background-color: var(--secondary-color-high-transparency);
  text-align: center;
  align-content: center;
  font-size: 1rem;
  padding: 0.25rem;
  transition: var(--fast-transition) var(--default-animation);
}

input:hover,
label:hover > .input-mock {
  background-color: var(--secondary-color-medium-transparency);
}

.ethereal {
  opacity: 25%;
}

label:has(:focus) .extension-bottom {
  visibility: visible;
  opacity: 1;
}

.extension-bottom {
  visibility: hidden;
  opacity: 0;
  border: 1px solid var(--secondary-color);
  margin-top: var(--standard-padding);
  backdrop-filter: blur(3px);
  width: calc(100% - (var(--standard-padding) * 2));
  box-sizing: content-box;
  padding: var(--standard-padding) 0;
  position: absolute;
  z-index: 1;
  top: 100%;
  box-shadow: 0px 0px 5px 1px var(--primary-color);

  &::after {
    content: "";
    position: absolute;
    bottom: 100%;
    left: 50%;
    transform: translateX(-50%);
    border-width: 0.5rem;
    border-style: solid;
    border-color: transparent transparent var(--secondary-color) transparent;
  }
}

.focused {
  box-shadow: 0px 0px 5px 3px var(--secondary-color);
}

.grabbable {
  cursor: grab;
}

.grabbable:active {
  cursor: grabbing;
}

.hidden {
  opacity: 0;
  visibility: hidden;
}

.small {
  font-size: 0.75rem;
}

.yellow {
  color: var(--yellow);
}

@media (max-width: 1023px) {
  header {
    padding: 0 1rem;
  }
}

@media (max-width: 768px) {
  :root {
    --sidebar-width: 3rem;
  }
}

@keyframes fade-in {
  from {
    opacity: 0;
  }
  to {
    opacity: 1;
  }
}
