.output {
  background-color: var(--primary-color);
  position: absolute;
  top: 5rem;
  right: 5rem;
  color: var(--secondary-color);
  width: 23rem;
}

.output > div:first-child {
  padding: 0.5rem;
  display: flex;
  justify-content: space-between;
}

.output > div:first-child > div {
  display: flex;
  gap: 1rem;
}

.output > div:first-child > div > button:last-of-type {
  transition: var(--fast-transition) var(--default-animation);
}

.output.closed > div:first-child > div > button:last-of-type {
  transform: rotate(180deg);
}

.output > div:last-child {
  max-height: 100vh;
  overflow: hidden;
  transition: var(--fast-transition) var(--default-animation);
}

.output.closed > div:last-child {
  max-height: 0;
  opacity: 0;
}

.output > div:last-child > pre {
  border-top: 1px solid var(--secondary-color-medium-transparency);
  padding: 0.5rem;
  /* height: 7rem; */
  max-height: 7rem;
  width: 100%;
  overflow: auto;
  scrollbar-width: thin;
  /* transition: inherit; */
}

span.incremented {
  margin-left: 2rem;
}
