.stylingPanel {
  position: relative;
  height: 100%;
  display: flex;
  flex-direction: column;
  width: 25%;
  background-color: var(--primary-color);
  color: var(--secondary-color);
  transition: var(--fast-transition) var(--default-animation);
  padding-top: var(--header-height);
}

.stylingPanel > div {
  transition: inherit;
  white-space: nowrap;
  padding: 0 var(--styling-panel-x-margins);
}

.stylingPanel.closed {
  width: 0%;
}

.buttonContainer {
  position: absolute;
  left: 100%;
  top: var(--header-height);
  margin-left: 1rem;
  width: 2.5rem;
  height: 2.5rem;
  font-size: 2.5rem;
}

.buttonContainer > button {
  width: 100%;
  height: 100%;
}

.buttonContainer > button > span {
  position: absolute;
  top: 0px;
  left: 0px;
  height: 100%;
  width: 100%;
  text-align: left;
  display: inline-block;
  opacity: 0;
  transition: var(--fast-transition) var(--default-animation);
}

.buttonContainer > button > span {
  filter: var(--icon-shadow);
}

.buttonContainer > button > span.active {
  z-index: 1;
  opacity: 1;
}

.optionsScroller {
  display: flex;
  flex-direction: column;
  gap: 2.5rem;
  overflow-y: auto;
  overflow-x: hidden;
  scrollbar-gutter: stable;
  scrollbar-width: thin;
  height: 100%;
}

.optionsScroller > div {
  display: flex;
  flex-direction: column;
  gap: 2.5rem;
}

.stylingPanel > div:last-child {
  padding-top: 1rem;
  padding-bottom: 1rem;
  display: flex;
  align-items: center;
  background-color: var(--primary-color);
}

.stylingPanel > div:last-child > button {
  width: 100%;
  background-color: var(--secondary-color-high-transparency);
  padding: 0.25rem 0;
  font-size: 1.25rem;
  transition: var(--fast-transition) var(--default-animation);
  overflow: hidden;
}

.stylingPanel > div:last-child > button:hover {
  background-color: var(--secondary-color-medium-transparency);
}

.stylingPanel.closed > div {
  padding: 0;
}

@media (max-width: 1023px) {
  .stylingPanel {
    max-height: 50%;
    flex: 1;
    width: 100%;
    padding-top: var(--styling-panel-x-margins);
  }

  .buttonContainer {
    top: auto;
    left: 1rem;
    /* left: unset; */
    bottom: 100%;
    margin-left: 0;
  }

  .buttonContainer > button > span {
    text-align: center;
  }

  .stylingPanel.closed {
    width: 100%;
    max-height: 0%;
  }

  .optionsScroller > div {
    flex-direction: row;
    flex-wrap: wrap;
    gap: var(--styling-panel-x-margins);
  }

  .optionsScroller > div > div {
    width: calc((100% - var(--styling-panel-x-margins)) / 2);
  }
}

@media (max-width: 500px) {
  .optionsScroller > div {
    flex-direction: column;
  }

  .optionsScroller > div > div {
    width: 100%;
  }
}
