.label {
  position: relative;
  display: flex;
  align-items: center;
}

.inputContainer {
  display: flex;
  justify-content: space-between;
  align-items: center;
  width: 100%;
}

/* Hide arrows on Chrome, Safari, Edge, Opera */
.inputContainer input::-webkit-outer-spin-button,
.inputContainer input::-webkit-inner-spin-button {
  -webkit-appearance: none;
  margin: 0;
}

.inputContainer input {
  /* Hide arrows on Firefox */
  appearance: textfield;
  -moz-appearance: textfield;

  width: 1.75rem;
  field-sizing: content;
}

.inputContainer span {
  overflow: hidden;
}

.sliderContainer {
  height: 1.25rem;
  display: flex;
  align-items: center;
  transition: var(--fast-transition) var(--default-animation);
  touch-action: none;
  padding: var(--standard-padding);

  /* Reset native style */
  & input[type="range"] {
    -webkit-appearance: none;
    -moz-appearance: none;
    appearance: none;
    width: 100%;
  }

  /* TRACK */
  & input[type="range"]::-webkit-slider-runnable-track {
    box-sizing: content-box;
    width: 100%;
    height: 3px;
    background-color: var(--primary-color);
    border: 1px solid var(--secondary-color);
    cursor: pointer;
  }

  & input[type="range"]::-moz-range-track {
    box-sizing: content-box;
    width: 100%;
    height: 3px;
    background-color: var(--primary-color);
    border: 1px solid var(--secondary-color);
    cursor: pointer;
  }

  /* THUMB */
  & input[type="range"]::-webkit-slider-thumb {
    -webkit-appearance: none;
    position: relative;
    top: 50%;
    transform: translateY(-50%);
    height: 1.25rem;
    aspect-ratio: 1;
    border-radius: 50%;
    background-color: var(--primary-color);
    border: 1px solid var(--secondary-color);
    cursor: grab;

    &:active {
      cursor: grabbing;
    }
  }

  & input[type="range"]::-moz-range-thumb {
    position: relative;
    top: 50%;
    transform: translateY(-50%);
    height: 1.25rem;
    aspect-ratio: 1 / 1;
    border-radius: 50%;
    background-color: var(--primary-color);
    border: 1px solid var(--secondary-color);
    cursor: grab;

    &:active {
      cursor: grabbing;
    }
  }
}
