.textPreview {
  height: 100%;
  flex: 1;
  position: relative;
}

.textPreview textarea {
  width: 100%;
  height: 100%;
  text-align: center;
  align-content: center;
  resize: none;
}

.textPreview textarea.transition {
  transition: var(--fast-transition) var(--default-animation);
}
