.toogleButton {
  font-size: 2rem;
  padding: 1.5rem;
  position: absolute;
  right: 0;
  bottom: 0;
  z-index: 2;
  color: var(--secondary-color);
  filter: var(--icon-shadow);
}

.demoDisplayer {
  position: absolute;
  inset: 0px;
  z-index: 1;
  transition: var(--fast-transition) var(--default-animation);
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  overflow: hidden;
  visibility: hidden;
  opacity: 0;
  color: var(--secondary-color);
}

.demoDisplayer.open {
  opacity: 1;
  visibility: visible;
}

.demoDisplayer.darker {
  background-color: var(--primary-color-high-transparency);
}

.confirmationBox {
  position: absolute;
  padding: 1rem;
  background-color: var(--primary-color);
  z-index: 1;
  transition: var(--fast-transition) var(--default-animation);
}

.confirmationBox > div:last-of-type {
  margin-top: 1rem;
  display: flex;
  /* justify-content: space-around; */
  gap: 1rem;
}

.confirmationBox > div:last-of-type > button {
  flex: 1;
  border: var(--default-border);
  padding: 0.5rem;
  background-color: var(--secondary-color-high-transparency);
  transition: var(--fast-transition) var(--default-animation);
}

.confirmationBox > div:last-of-type > button:hover {
  background-color: transparent;
}

div:has(> .demoBox) {
  padding: 1rem;
  max-width: 25%;
  transition: var(--fast-transition) var(--default-animation);
}

.demoBox {
  position: relative;
  background-color: var(--primary-color);
  border: var(--default-border);
  padding: 0.75rem;
}

.demoBox > button:first-of-type {
  position: absolute;
  top: 0.5rem;
  right: 0.5rem;
  color: var(--secondary-color);
}

.demoBox > p {
  min-height: 1rem;
}

.demoBox > div {
  margin-top: 1rem;
  display: flex;
  justify-content: flex-end;
}

.demoBox > div > button {
  margin-left: 1rem;
  display: inline-flex;
  gap: 0.5rem;
  align-items: center;
  transition: var(--fast-transition) var(--default-animation);
}

.demoBox > div > button svg {
  font-size: 0.75rem;
}

@media (max-width: 1023px) {
  .toogleButton {
    top: 0;
    bottom: unset;
    padding: 1rem;
  }

  div:has(> .demoBox) {
    max-width: 50%;
  }
}
