.inputContainer {
  /* position: relative; */
  display: flex;
  justify-content: space-between;
  align-items: center;
  gap: 0.5rem;
  height: 1.5rem;
  width: 100%;
  overflow: hidden;
  transition: var(--fast-transition) var(--default-animation);
}

.inputContainer.disabled {
  height: 0;
  opacity: 0;
}

.inputContainer > div {
  flex: 1;
  height: 100%;
  align-content: center;
}

.preview {
  float: right;
  height: 100%;
  aspect-ratio: 1;
}
