.inputDisplayer {
  display: flex;
  flex-direction: column;
  gap: 0.5rem;
}

.inputContainer {
  transition: var(--fast-transition) var(--default-animation);
  &.open {
    max-height: 100vh;
    opacity: 1;
  }

  &.closed {
    max-height: 0;
    opacity: 0;
    visibility: hidden;
  }
}

.inputGroup {
  display: flex;
  flex-direction: column;
  gap: 0.5rem;
}

.inputGroup > div:first-of-type {
  display: flex;
  justify-content: space-between;
}

.inputGroup > div:last-child {
  display: flex;
  flex-direction: column;
  border: var(--transparent-border);
  transition: var(--fast-transition) var(--default-animation);
  padding: 0;
  gap: var(--gap-between-inputs);
}

.inputGroup.grouped > div:last-child {
  border: var(--default-border);
  padding: 0.5rem;
  gap: 0.5rem;
}
